*
{
    margin: 0px;
    padding: 0px;
    font-family: "Josefin Sans", sans-serif;
}
.layout
{
    display: flex;
    cursor: pointer;
}
.navClass
{
    width: 10%;
   
}
.pages
{
    // justify-content: flex-end;
    // cursor: none;
}